$color-menu : #2254a5;
$color-texto-menu : #8cadbb;
$color-texto2-menu : white;
$color-texto-general: #1e194a;
$color-Fondo: #e1e3ea;

$medida-reporteH:30px;
$medida-reporteW:40px;


$medida-seccion-bodyW:100%;
$medida-seccion-bodyh:530px;

$medida-Izw:400px;
$medida-Dew: 1400px;

body{
  
}
.casa{
    height: 70px;
}
.menu{
    background-color : $color-menu;
    color: $color-texto2-menu;
    height: 40px;
    
    .navbar-nav a{
        color: $color-texto-menu;
        font-size: 12px;
        margin-left: 15px;
    }
}
.bajo-menu{
    color: $color-texto-general;
}
.reporte{
    color: black; 
    border-radius: 5px;
    background: #c7c9cd;
}
.reportepdf{
    background: #c7c9cd;
    color: black;  
}
.plandeaccion{
    color: white;
    background: #f2662e;
}


.SeccionBody{
    
    .Iz{
            
        .perfilBody{
            height: 150px;
            padding: 20px;
            .perfilBodyIMG{
               height: 100px;
                width: 100px;
                border-radius: 50%;
                
            }
        }
        a {
           color: black;
           display: block;
            margin-top: -15px;
            font-size: 15px;
        }
         .aA{
                
                margin-top: 5px;
                background: #c7c9cd; 
                color: $color-menu;
            }
        
        .escalas{
            
            p{
                font-size: 10px;
                margin-bottom: 10px;
                
            }
             .subtexto{
                    font-size: 7px;
                    color: #97989b;
                    
                }
        }   
       
        
    }
    
       
         
        .up{
            .C{
              margin-left: -8px;
              margin-right: 5px;
            }
            .C3{
                transform: translateX(10px);
            }
            .C2{
                transform: translateX(2px);
            }
            .cards{
               
                background: white;
                border-radius: 3px;
                height: 250px;
                p{
                    font-size: 11px;
                }
            }
        }
        .down{
          
          background: white;
            border-radius: 3px;
        } 
}


