$color-menu : #4b73d8;
$color-texto-menu : #e1e3ea;
$color-texto2-menu : white;
$color-texto-general: #1e194a;
$color-Fondo: #e1e3ea;

$medida-reporteH:30px;
$medida-reporteW:40px;


$medida-seccion-bodyW:100%;
$medida-seccion-bodyh:530px;

$medida-Izw:400px;
$medida-Dew: 1400px;

body{
    background: $color-menu;
}
.casa{
    height: 70px;
}
.menu{
    background-color : $color-menu;
    color: $color-texto2-menu;
    height: 50px;
    
    .navbar-nav a{
        color: $color-texto-menu;
    }
}
.bajo-menu{
    color: $color-texto-general;
}
.reporte{
    height: $medida-reporteH;
    width: $medida-reporteW;
    color: black; 
    border-radius: 5px;
    background: #c7c9cd;
}
.reportepdf{
    background: #c7c9cd;
    color: black;  
}
.plandeaccion{
    color: $color-texto-menu;
    background: #dc8033;
}


.SeccionBody{
    position: relative;
    display: block;
    height: $medida-seccion-bodyh;
    width: $medida-seccion-bodyW;
    
    .Iz{
        display: block;
        
        height: 600px;
        width: $medida-Izw;
        
        .perfilBody{
            height: 150px;
            padding: 20px;
            .perfilBodyIMG{
               height: 100px;
                width: 100px;
                border-radius: 50%;
                
            }
        }
        a {
           color: black;
           display: block;
            margin-top: -15px;
        }
         .aA{
             display: block;
                margin-top: 5px;
                background: #c7c9cd; 
                color: $color-menu;
            }
        
        .escalas{
            p{
                font-size: 10px;
                
            }
             .subtexto{
                    font-size: 7px;
                    color: #97989b;
                    
                }
        }   
       
        
    }
    
    
    .De{
        display: block;
        height: auto;
        width: $medida-Dew;
         
        .up{
            .cards{
                padding: 5px;
                display: block;
                width: 380px;
                height: 250px;
                background: #e1e3ea;
                
                p{
                    font-size: 11px;
                }
            }
        }
        .down{
          display: block;
          width: auto;
          height: 300px;
          background: $color-Fondo;
        }
    }
   
}


